RUNPOD_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
RUNPOD_SSH_KEY="~/.ssh/id_ed25519"
RUNPOD_IMAGE="runpod/pytorch:2.4.0-py3.11-cuda12.4.1-devel-ubuntu22.04"

CLOUDFLARE_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
CLOUDFLARE_DOMAIN="custom.xyz"

MCP_SERVER_TEST_AUTH_URL="https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
MCP_SERVER_TEST_AUTH_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
MCP_SERVER_TEST_AUTH_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
MCP_SERVER_TEST_AUTH_AUDIENCE="https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
MCP_SERVER_TEST_1_URL="https://xxxxxxxxxxx/mcp/"
MCP_SERVER_TEST_2_URL="https://xxxxxxxxxxx/mcp/"
MCP_SERVER_TEST_3_URL="https://xxxxxxxxxxx/mcp/"