RUNPOD_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

RUNPOD_CLOUDFLARE_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
RUNPOD_CLOUDFLARE_DOMAIN="runpod.example.com"

RUNPOD_MCP_SERVER_TEST_AUTH_URL="https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
RUNPOD_MCP_SERVER_TEST_AUTH_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
RUNPOD_MCP_SERVER_TEST_AUTH_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
RUNPOD_MCP_SERVER_TEST_AUTH_AUDIENCE="https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

RUNPOD_MCP_SERVER_TEST_1_URL="https://xxxxxxxxxxx/mcp/"
RUNPOD_MCP_SERVER_TEST_2_URL="https://xxxxxxxxxxx/mcp/"
RUNPOD_MCP_SERVER_TEST_3_URL="https://xxxxxxxxxxx/mcp/"